<footer >
    <div class="f-rights">
        <p class="text-muted">© 2023 Hotel Booking. All rights reserved.</p>
    </div>
    <div class="f-rights f-social-info">
        <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="#" ><i class="fa-brands fa-square-instagram"></i></a>
        <a href="#" ><i class="fa-brands fa-square-linkedin"></i></a>
    </div>
    <div class="f-rights f-terms">
        <a href="#" >Terms of Service</a>
        <a href="#" >Privacy Policy</a>
        <a href="#" >Contact Us</a>
    </div>
</footer>